@import "config.scss";

.category {
  margin: 0 $gutter;
  font-weight: bold;

  &__videolist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}

.video {
  max-width: 49%;
  margin-top: $gutter;
  @media(max-width: 500px){
    max-width: 100%;
  }

  &__img {
    max-width: 100%;
  }

  &__imgcontainer {
    position: relative;
    cursor: pointer;
  }

  &__imglabel {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    margin: 0 5px 10px 0;
    background: rgba(0, 0, 0, 0.5);
  }

  &__title {
    margin: (1/2 * $gutter) 0;
    overflow: hidden;
    white-space: nowrap;
  }

}
