@import "scss/config.scss";

@import "scss/grid.scss";

/* setjum box-sizing: border-box; á allt */
html { /* stylelint-disable-line */
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;

  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0;
}

html { /* stylelint-disable-line */
  color: #fff;
  background-color: #333;
}

.hr {
  margin: (2 * $gutter) (4 * $gutter);
  border-color: #eee;
}

.myndbond {
  max-width: 1000px;
  margin: 0 auto;

}

.heading {
  margin: $gutter;
  font-size: 2em;
}

@import "scss/video.scss";
@import "scss/videoplayer.scss";
